@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html,
body {
  margin:0;
  padding:0;
  height:100%;
  width:100%;
}

#announcement {
  margin: 200px auto;
  font-family: "Noto Sans";
  font-size: 20px;
  text-align: center;
}
